.App {
  text-align: center;
  line-height: 5px;
}


/* Rest of the code remains the same */
.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  line-height: 0px;
  margin-top: 50px;
}

.Features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.FeatureComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2px 10px; /* Adjust the vertical padding here */
  margin: 10px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 300px;
  max-width: 360px;
}

.FeatureComponentLine {
  display: flex;
  justify-content: space-between;
  width: 90%;
  line-height: 1.4;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 1.2em;
}

.Spacer {
  flex: 1;
  padding-bottom: 30px; /* Add the desired bottom padding value here */
}

.SearchField {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 360px;
}

.MoreDetails{
  text-align: left;
  color: rgb(65, 65, 65);
  display: flex;
  font-size: 1.2em;
  width: 85%; 
  line-height: 1.2;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: space-between;

}

.ResumeHelper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  color: black;
  line-height: 16px;
  width: 90%;
}

.ResumeHelperArea{

  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  color: black;
}

.JobDescription{
  padding: 10px;
  margin: 20px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 300px;
  text-align: left;
  line-height: 1.2;
}

.JobDescriptionText
{
  margin: 0 auto;
  width:90%
}

.Italics{
  font-style: italic;
}

.ResumeHelperHeading{
  margin-top: 60px;
  text-align: center;
  font-size: calc(10px + 1.5vmin);
  line-height: 3px;
}

.ResumeUpload{
  padding: 10px;
  margin: 20px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 300px;
  max-width: 400px;
  min-height: 130px;
}

.HelperArea {
  padding: 10px;
  margin: 20px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 300px;
  max-width: 400px;
  min-height: 100px;
  text-align: left;
}

.ResumeComponent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ZeroPaddingMargin {
  padding: 0px;
  margin: 0px;
}

.howto-container {
  background-color: #f1f1f1;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 300px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.howto-image {
  width: 100%; /* Ensures the image takes up the full width of the container */
  height: auto; /* Maintains the aspect ratio of the image */
  border-radius: 8px; /* Rounds the image corners */
  display: block; /* Removes bottom margin caused by inline-block */
  max-width: 100%; /* Ensures the image does not overflow the container */
}