.App {
  text-align: center;
  line-height: 5px;
}


/* Rest of the code remains the same */
.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  line-height: 0px;
}

.Features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.FeatureComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 10px;
  background-color: #f1f1f1;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 280px;
}

.FeatureComponentLine {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.Spacer {
  flex: 1;
}

.SearchField {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 360px;
}