<!DOCTYPE html>
<html>

<!-- {% set pageTitle = "CHANGE ME IN index.html" %}{% include "includes/header.html" %} -->

<body>

	<h1>Accessibility checker</h1>
	<input type="text" id="queryInput" placeholder="Enter your query">
	<button type="button" onclick="fetchInfo()">Submit</button>

	<script>
	function fetchInfo() {
		const query = document.getElementById("queryInput").value;
		const payload = { link: query };
		fetch(`/api/getInfo`, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json'
			},
			body: JSON.stringify(payload)
		})
			.then(response => response.json())
			.then(data => {
				// Work with JSON data here
				console.log(data);
			})
			.catch(error => {
				// Handle any errors here
				console.error('Error:', error);
			});
	}
	</script>

</body>

</html>
